

  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="flex h-screen">
    <div class="sidebar">

      <!-- <h3>Menu</h3> -->

      <button mat-button [routerLink]="['/dashboard']" routerLinkActive='active-link' [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>

      <button mat-button [routerLink]="['/tasks']" routerLinkActive='active-link'>
        <mat-icon>check_box</mat-icon>
        Tasks
      </button>

      <button mat-button routerLinkActive='active-link'>
        <mat-icon>calendar_today</mat-icon>
        Calendar
      </button>

      <button mat-button [routerLink]="['/analytics']" routerLinkActive='active-link'>
        <mat-icon>insert_chart_outlined</mat-icon>
        Analytics
      </button>

      <button mat-button [routerLink]="['/team']" routerLinkActive='active-link'>
        <mat-icon>people</mat-icon>
        Team
      </button>

      <button mat-button routerLinkActive='active-link'>
        <mat-icon>settings</mat-icon>
        Settings
      </button>

     <app-add-task-btn mat-button class="w-full"></app-add-task-btn>
    </div>
  </mat-sidenav>


 