@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f2f4f9;}

/* Remove the notch/outline and use custom border */
.mat-mdc-text-field-wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 8px !important;
  background-color: white !important;
}

.mat-mdc-text-field-wrapper:focus-within {
  border-color: #6200ee;
}

.mdc-text-field--filled .mdc-text-field__input {
  padding: 12px !important;
}

.mat-mdc-form-field-infix {
  padding-top: 24px !important;
  padding-bottom: 8px !important;
}

/* Remove the bottom line from fill appearance */
.mdc-line-ripple {
  display: none !important;
}

.mat-mdc-form-field-focus-overlay {
  display: none !important;
}

.mat-mdc-card {
background-color: white !important;
border: 1px solid #e5e7eb !important; /* Tailwind's gray-200 */
}